<div class="container">
  <form [formGroup]="serviceFormGroup" *ngIf="serviceFormGroup">

    <div class = "form-group">
      <label>Nom</label>
      <input type ="text" class="form-control" formControlName="nom"
             [ngClass]="{'is-invalid': submitted &&
serviceFormGroup.controls.nom.errors}">
      <div *ngIf="submitted && serviceFormGroup.controls.nom.errors" class
        ="invalid-feedback">
        <div *ngIf="serviceFormGroup.controls.nom.errors.required">
          Nom obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Budget</label>
      <input type ="text" class="form-control" formControlName="budget"
             [ngClass]="{'is-invalid': submitted &&
serviceFormGroup.controls.budget.errors}">
      <div *ngIf="submitted && serviceFormGroup.controls.budget.errors"
           class ="invalid-feedback">
        <div *ngIf="serviceFormGroup.controls.budget.errors.required">
          Budget obligatoire
        </div>
      </div>
    </div>


    <button (click)="onSaveService()" class="btn btn-success">
      Save
    </button>
  </form>
</div>
