<div class="container">
  <form [formGroup]="employeFormGroup" *ngIf="employeFormGroup">
    <div class = "form-group">
      <label>IDEMPLOYE</label>
      <input type ="text" class="form-control" formControlName="idemploye"
             readonly>
    </div>
    <div class = "form-group">
      <label>Nom</label>
      <input type ="text" class="form-control" formControlName="nom"
             [ngClass]="{'is-invalid': submitted && employeFormGroup.controls.nom.errors}">
      <div *ngIf="submitted && employeFormGroup.controls.nom.errors" class="invalid-feedback">
        <div *ngIf="employeFormGroup.controls.nom.errors.required">
          Nom obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Prénom</label>
      <input type ="text" class="form-control" formControlName="prenom"
             [ngClass]="{'is-invalid': submitted && employeFormGroup.controls.prenom.errors}">
      <div *ngIf="submitted && employeFormGroup.controls.prenom.errors" class ="invalid-feedback">
        <div *ngIf="employeFormGroup.controls.prenom.errors.required">
          Prénom obligatoire
        </div>
      </div>
    </div>
    <div class ="form-group">
      <label>Mail</label>
      <input type ="text" class="form-control" formControlName="mail"
             [ngClass]="{'is-invalid': submitted && employeFormGroup.controls.mail.errors}">
      <div *ngIf="submitted && employeFormGroup.controls.mail.errors"
            class ="invalid-feedback">
          <div *ngIf="employeFormGroup.controls.mail.errors.required">
            Mail obligatoire
          </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Service</label>
      <select  class="form-control" formControlName="idservice" [ngClass]="{'is-invalid': submitted &&
          employeFormGroup.controls.idservice.errors}">
        <option *ngFor="let service of services" [value]="service.idservice" >
          {{service.nom}}
        </option>
      </select>
      <div *ngIf="submitted && employeFormGroup.controls.idservice.errors"
           class ="invalid-feedback">
        <div *ngIf="employeFormGroup.controls.idservice.errors.required">
          Service obligatoire
        </div>
      </div>
    </div>

    <button (click)="onUpdateEmploye()" class="btn btn-success">
      Save
    </button>
  </form>

  <li class="nav-item">
    <button (click)="ChargeMessages()" class="btn btn-success">
      Messsages
    </button>
  </li>


  <ng-container *ngIf="messages" >
    <ng-container *ngIf="messages.length>0 else vide">
      <table class="table">
        <thead>
        <th>IdMessage</th>
        <th>Objet</th>
        <th>Contenu</th>
        <th>Date D'envoie</th>
        </thead>
        <tbody>
        <tr *ngFor="let mes of messages">
          <td>{{mes.idmessage}}</td>
          <td>{{mes.objet}}</td>
          <td>{{mes.contenu}}</td>
          <td>{{mes.dateenvoi|date: 'dd-MM-yyyy'}}</td>
          <td>
            <button (click)=onDeleteMes(mes) class="btn btn-danger">
              <span class = "fa fa-trash-o"></span>
            </button>
          </td>
          <td>
            <button (click)=onEditMes(mes) class="btn btn-danger">
              <span class = "fa fa-edit"></span>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #vide>
      Aucun message pour cet employe
    </ng-template>
  </ng-container>
  <app-newmessage [empact]=employe
                  (newMessage)="onAddMessage($event)"></app-newmessage>


</div>
